body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 200px;
}

.button {
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 2px;
}

.button--primary {
  background-color: #1b66c9;
  color: white;
  border: 1px solid #1b66c9;
  cursor: pointer;
}

.button--primary:hover {
  background-color: #407ecf;
}

.button--secondary {
  background-color: transparent;
  color: #1b66c9;
  border: 1px solid lightgray;
}

.digit {
  margin-right: 0.5em;
  font-size: 1.5rem;
  color: #dadce0;
}

.digit--filled {
  color: #222222;
}

.time-input {
  opacity: 0;
  height: 0;
}

.progress-bar {
  height: 4px;
  width: 100%;
  background-color: lightgray;
}

.progress-bar__fill {
  height: 100%;
  background-color: #1b66c9;
  transition: width 250ms ease-in-out;
}

.control-footer {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
